{% extends 'base.html.twig' %}

{% block title %}Hello BackOfficeController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>BackOffice ✅</h1>

        BOF: {{ controller_name|raw }}
        <br/>
        <div>globalni parametry ze <b>config/services.yml</b>

        </div>
        <div>globalni parametry ze <b>config/packages/back_office.yml</b>
            <pre>

        </pre>
        </div>


    </div>
{% endblock %}
